/*
Theme Name: Halt Agency
Theme URI: https://halt.agency/
Description: Custom child theme for Divi, created by Halt Agency.
Author: Halt Agency
Author URI: https://halt.agency/
Template: Divi
Version: 1.0.13
GitHub Theme URI: https://github.com/Halt-Agency/OA
Primary Branch: main
*/

/* =Theme customization starts here
------------------------------------------------------- */