[data-oa-team-member-get-to-know],
.oa-team-member-get-to-know {
  margin: 0;
  color: #ffffff;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.15;
}

@media (max-width: 980px) {
  [data-oa-team-member-get-to-know],
  .oa-team-member-get-to-know {
    font-size: 26px;
  }
}
